.mainCard{
  margin: 0px 20px;
  padding: 8px 30px;
  width: auto;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}
.mc-side{
  width:10%;
  height:90%;
  float:left;
}
.buttonrow{
  flex-direction: row;
  -webkit-box-pack: justify;
  justify-content: space-between;
  display: flex;
  padding: 20px 30px;
}
.br-side{
  padding:0;
  display: block;
}
.consultTypeRadio{
  float: right;
}
.ct-side{
  visibility: hidden;
  display: none;
}
.newConsultButton{
  display: inline-flex;
  color: #fff;
  background-color: #5BC9E1;
  min-width: 64px;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
  padding: 6px 16px;
  font-size: 0.875rem;
  box-sizing: border-box;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  border: 0;
  cursor: pointer;
  margin: 0;
  outline: 0;
  position: relative;
  user-select: none;
  vertical-align: middle;
  text-decoration: none;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}
.nc-side{
  margin:0px 0px 10px 0px;
  width:100%;
}
.newConsultButton:hover {
  background-color: #4fafc5;
}

.newConsultButton:active {
  background-color: #33707e;
}
.expander{
  margin: 0px 10px 0px 10px;
}
.searchBar{
  height: 30px;
}
.sb-side{
  width:100%;
  margin:0px 0px 10px 0px;
}
.newConsultPage{
  display: none;
  visibility: hidden;
}
.ncp-show{
  height:90%;
  display: block;
  visibility: visible;
  margin: 20px;
  padding: 8px 30px;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
  overflow-y: scroll;
}
.exit{
  float: right;
  color: #5BC9E1;
  cursor: pointer;
  margin: 20px 0px 0px 0px;
}
.tr-even{
  background-color: #f1f1f1;
}
.tab button {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}
.margin{
  margin: 20px 0px 0px 0px;
}
.visible{
  visibility: visible;
  display: block;
}
.hidden{
  visibility: hidden;
  display: none;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}



#root{
  height: 100%;
  position: absolute;
}

th{
  padding: 8px 15px;
  color: rgba(0, 0, 0, 0.87);
  font-weight: 500;
  line-height: 1.5rem;
}
td{
  padding: 8px 15px;
  overflow: hidden;
}
table{
  width: 100%;
  border: 1px solid rgb(245, 245, 245);
  table-layout: fixed;
  border-spacing: 0px;
}
thead{
  border: 1px solid rgb(232, 232, 232);
  background: rgba(19, 130, 202, 0.11);
}
body{
  min-height:100%;
}
html{
  height:100%;
  overflow-y:hidden;
}
tbody tr:hover{
  background-color: #dedede;
  cursor: pointer;
}